html,body {
    margin: 0;
    padding: 0;
}

body {
    color: blanchedalmond;
    background-color: maroon;
}

#container {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    padding: 0;
}

img {
    width: 60%;
    height: auto;
    border: 10px solid blanchedalmond;
}